@page "/administrators/users"
@using MudBlazor
@using Rapide.Web.Models

@if (IsLoading)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Class="ms-n1" Indeterminate="true" />
    </MudOverlay>
}

<MudMessageBox @ref="mbox" Title="Confirmation" CancelText="No">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> Are you sure you want to proceed?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check">Yes</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxError" Title="Warning!">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> @mBoxCustomMessage
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Check">OK</MudButton>
    </YesButton>
</MudMessageBox>

<PageTitle>Manage User Profile</PageTitle>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Account List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">User Account List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 10px !important;">
                <MudStack Justify="Justify.FlexStart" Row>
                    <button @onclick="OnAddClick" class="btn btn-danger float-left">Add New User</button>
                </MudStack>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header small">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @* Content here... *@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <MudDataGrid Dense @ref="dataGrid" T="UserModel" ServerData="ServerReload" Filterable="false" RowsPerPage="100">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6"></MudText>
                                        <MudSpacer />
                                        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                    </ToolBarContent>
                                    <Columns>
                                        @* <PropertyColumn Property="x => x.Id" Title="Id" /> *@
                                        <PropertyColumn Property="x => x.FullName" Title="Full Name" Filterable="false" />
                                        <PropertyColumn Property="x => x.Email" Title="Email Address" Filterable="false" />
                                        <PropertyColumn Property="x => x.MobileNumber" Title="Mobile Number" Filterable="false" />
                                        <PropertyColumn Property="x => x.Role.Name" Title="User Role" Filterable="false" Sortable="false" />
                                        <PropertyColumn Property="x => x.IsActive" Title="Status">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudText>@(context.Item.IsActive ? "Active" : "Inactive")</MudText>
                                                </MudStack>
                                            </CellTemplate>
                                            
                                        </PropertyColumn>
                                        <TemplateColumn Title="Action" Filterable="false" Sortable="false">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudButton Size="@Size.Medium" Variant="@Variant.Filled" Href="@string.Format("/administrators/users/{0}", @context.Item.Id.ToString())" Color="@Color.Primary"><i class="fa fa-pencil-square-o"></i></MudButton>
                                                    <MudButton Size="@Size.Medium" @onclick="args => OnDeleteClick(context.Item)" Variant="@Variant.Filled" Color="@Color.Error"><i class="fa fa-trash"></i></MudButton>
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                    <PagerContent>
                                        <MudDataGridPager T="UserModel" />
                                    </PagerContent>
                                </MudDataGrid>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>