@page "/operations/deposits/add"
@page "/operations/deposits/{depositId}"

@using MudBlazor
@using Rapide.DTO
@using Rapide.Web.Components.Pages.Components
@using Rapide.Web.Helpers

@if (IsLoading)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Class="ms-n1" Indeterminate="true" />
    </MudOverlay>
}

<!-- #region Message Box -->

<MudMessageBox @ref="mbox" Title="Confirmation" CancelText="No">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> Are you sure you want to save changes?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check">Yes</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxCustom" Title="Confirmation" CancelText="No">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> @mBoxCustomMessage
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check">Yes</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxError" Title="Warning!">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> @mBoxCustomMessage
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Check">OK</MudButton>
    </YesButton>
</MudMessageBox>

<!-- #endregion -->

<PageTitle>Manage Deposit</PageTitle>


<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">Manage Deposit</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/operations/deposits">Deposit List</a></li>
                    <li class="breadcrumb-item active">Manage Deposit</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">

        @if (IsEditMode && !isViewOnly)
        {
            <div class="row">
                <div class="col-md-6" style="padding-bottom: 10px !important;">
                    <MudStack Row>
                        <MudButton @onclick="OnGeneratePdfClick" Size="@Size.Medium" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Print" Disabled="!IsEditMode">Print</MudButton>
                    </MudStack>
                </div>
                <div class="col-md-6" style="padding-bottom: 10px !important;">
                    <MudStack Justify="Justify.FlexEnd" Row>
                        <MudButton @onclick="OnNewDepositClick" Size="@Size.Medium" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Create" Disabled="!IsEditMode">New</MudButton>
                        <MudButton @onclick="OnCancelDepositClick" Size="@Size.Medium" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete">Cancel Transaction</MudButton>
                    </MudStack>
                </div>
            </div>
        }

        <div class="row">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Class="mud-form-custom">
                @* Expenses Information *@
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Deposit Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status<code> *</code></label>
                                        <MudAutocomplete T="JobStatusDTO"
                                                         Margin="Margin.Dense"
                                                         Disabled="true"
                                                         @bind-Value="DepositRequestModel.JobStatus"
                                                         Variant="Variant.Outlined"
                                                         ToStringFunc="@(e=> e==null?null : e.Name)"
                                                         Required="true" RequiredError="This field is required!"
                                                         Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                                         ShowProgressIndicator="true"
                                                         Strict="false"
                                                         Clearable="true">
                                            <NoItemsTemplate>
                                                <MudText Align="Align.Center" Class="px-4 py-1">
                                                    No items found
                                                </MudText>
                                            </NoItemsTemplate>
                                        </MudAutocomplete>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Reference No.<code> *</code></label>
                                        <MudTextField T="string"
                                                      MaxLength="100"
                                                      Disabled="true"
                                                      @bind-Value="DepositRequestModel.ReferenceNo"
                                                      For="(() => DepositRequestModel.ReferenceNo)"
                                                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Note"
                                                      Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Transaction Date<code> *</code></label>
                                        <MudDatePicker DateFormat="MM/dd/yyyy"
                                                       Variant="Variant.Outlined"
                                                       Margin="Margin.Dense"
                                                       Required="true" RequiredError="This field is required!"
                                                       @bind-Date="DepositRequestModel.TransactionDateTime" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Customer Refund?<code> *</code></label>
                                    <MudSwitch @bind-Value="DepositRequestModel.IsRefund" Color="Color.Success">@(DepositRequestModel.IsRefund ? "Yes" : "No")</MudSwitch>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer<code> *</code></label>
                                        <MudAutocomplete T="CustomerDTO"
                                                         Margin="Margin.Dense"
                                                         Value="@DepositRequestModel.Customer"
                                                         ValueChanged="@((i) => OnCustomerChanged(DepositRequestModel, i))"
                                                         SearchFunc="@SearchCustomer"
                                                         Variant="Variant.Outlined"
                                                         ToStringFunc="@(e=> e== null ? null : $"{e.FirstName} {e.LastName}")"
                                                         Required="true" RequiredError="This field is required!"
                                                         Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                                         ShowProgressIndicator="true"
                                                         Strict="false"
                                                         Clearable="true">
                                            <NoItemsTemplate>
                                                <MudText Align="Align.Center" Class="px-4 py-1">
                                                    No items found
                                                </MudText>
                                            </NoItemsTemplate>
                                            <AfterItemsTemplate>
                                                <MudButton OnClick="(() => OnAddNewItemClick(DialogTypes.Customer))" Color="Color.Primary"><i class="fas fa-plus"> Add New Customer</i></MudButton>
                                            </AfterItemsTemplate>
                                        </MudAutocomplete>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Deposit Amount<code> *</code></label>
                                        <MudNumericField Format="N2" Min="0"
                                                         @bind-Value="DepositRequestModel.DepositAmount"
                                                         Required="true" RequiredError="This field is required!"
                                                         Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers"
                                                         Margin="Margin.Dense" Variant="Variant.Outlined" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Deposit Reference No.</label>
                                        <MudTextField T="string"
                                                      MaxLength="100"
                                                      @bind-Value="DepositRequestModel.PaymentReferenceNo"
                                                      For="(() => DepositRequestModel.PaymentReferenceNo)"
                                                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.NoteAlt"
                                                      Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Job Order<code> *</code></label>
                                        <MudAutocomplete T="JobOrderDTO"
                                                         Margin="Margin.Dense"
                                                         @bind-Value="DepositRequestModel.JobOrder"
                                                         SearchFunc="@SearchJobOrder"
                                                         Variant="Variant.Outlined"
                                                         ToStringFunc="@(e=> e== null ? null : e.ReferenceNo)"
                                                         Required="true" RequiredError="This field is required!"
                                                         Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                                         ShowProgressIndicator="true"
                                                         Strict="false"
                                                         Clearable="true">
                                            <NoItemsTemplate>
                                                <MudText Align="Align.Center" Class="px-4 py-1">
                                                    No items found
                                                </MudText>
                                            </NoItemsTemplate>
                                            <AfterItemsTemplate>
                                                <MudButton OnClick="(() => OnAddNewItemClick(DialogTypes.Customer))" Color="Color.Primary"><i class="fas fa-plus"> Add New Customer</i></MudButton>
                                            </AfterItemsTemplate>
                                        </MudAutocomplete>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Expenses Payment Type<code> *</code></label>
                                        <MudAutocomplete T="ParameterDTO"
                                                         Margin="Margin.Dense"
                                                         @bind-Value="DepositRequestModel.PaymentTypeParameter"
                                                         SearchFunc="@SearchPaymentType"
                                                         Variant="Variant.Outlined"
                                                         ToStringFunc="@(e=> e==null?null : e.Name)"
                                                         Required="true" RequiredError="This field is required!"
                                                         Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                                         ShowProgressIndicator="true"
                                                         Strict="false"
                                                         Clearable="true">
                                            <NoItemsTemplate>
                                                <MudText Align="Align.Center" Class="px-4 py-1">
                                                    No items found
                                                </MudText>
                                            </NoItemsTemplate>
                                            <AfterItemsTemplate>
                                                <MudButton OnClick="(() => OnAddNewItemClick(DialogTypes.Payment))" Color="Color.Primary"><i class="fas fa-plus"> Add New Payment</i></MudButton>
                                            </AfterItemsTemplate>
                                        </MudAutocomplete>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <MudTextField T="string" Lines="3" MaxLength="255"
                                                      @bind-Value="DepositRequestModel.Description"
                                                      For="(() => DepositRequestModel.Description)"
                                                      Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>

                @if (DepositRequestModel.IsRefund)
                {
                    @* Refund Information *@
                    <div class="col-md-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Deposit Information</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Refund Amount<code> *</code></label>
                                            <MudNumericField Format="N2" Min="0"
                                                             @bind-Value="DepositRequestModel.RefundAmount"
                                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers"
                                                             Margin="Margin.Dense" Variant="Variant.Outlined" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Refund Date<code> *</code></label>
                                            <MudDatePicker DateFormat="MM/dd/yyyy"
                                                           Variant="Variant.Outlined"
                                                           Margin="Margin.Dense"
                                                           @bind-Date="DepositRequestModel.RefundDateTime" Disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Refund Reason</label>
                                            <MudTextField T="string" Lines="3" MaxLength="255"
                                                          @bind-Value="DepositRequestModel.RefundReason"
                                                          For="(() => DepositRequestModel.RefundReason)"
                                                          Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </MudForm>

        </div>

        <div class="row">
            @if (!isDepositLocked)
            {
                <div class="col-md-6" style="padding-bottom: 10px !important;">
                    <button @onclick="OnSaveClick" type="button" class="btn btn-primary btn-block"><i class="fa fa-floppy-o"></i> Save</button>
                </div>

            }
            <div class="@(!isDepositLocked ? "col-md-6" : "col-md-12")">
                <button @onclick="OnCancelClick" type="button" class="btn btn-danger btn-block"><i class="fa fa-ban"></i> Cancel</button>
            </div>

        </div>
    </div>
</section>