@page "/operations/invoices"

@using MudBlazor
@using Rapide.Web.Models

@if (IsLoading)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Class="ms-n1" Indeterminate="true" />
    </MudOverlay>
}

<MudMessageBox @ref="mbox" Title="Confirmation" CancelText="No">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> Are you sure you want to proceed?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check">Yes</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxError" Title="Warning!">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> @mBoxCustomMessage
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Check">OK</MudButton>
    </YesButton>
</MudMessageBox>

<PageTitle>Invoice List</PageTitle>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Invoice List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Invoice List</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 10px !important;">
                @if (!isViewOnly)
                {
                    <MudStack Justify="Justify.FlexStart" Row>
                        @* <button @onclick="OnAddClick" class="btn btn-danger float-left">Add New Invoice </button> *@
                    </MudStack>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header small">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @* Content here... *@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <MudDataGrid Dense T="InvoiceModel" @ref="dataGrid" ServerData="ServerReload" Filterable="false" RowsPerPage="100">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6"></MudText>
                                        <MudSpacer />
                                        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
                                    </ToolBarContent>
                                    <Columns>
                                        @* <PropertyColumn Property="x => x.Id" Title="Id" /> *@
                                        <PropertyColumn Property="x => x.InvoiceNo" Title="Invoice No">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudLink Href="@string.Format("/operations/invoices/{0}", @context.Item.Id.ToString())">@context.Item.InvoiceNo</MudLink>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.InvoiceDate" Title="Invoice Date">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudText>@(((DateTime)context.Item.InvoiceDate!).ToShortDateString())</MudText>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.Customer" Title="Customer Name">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudLink Href="@string.Format("/customers/{0}", @context.Item.Customer.Id.ToString())">@($"{context.Item.Customer.FirstName} {context.Item.Customer.LastName}")</MudLink>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.JobOrder" Title="Transaction">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudLink Href="@string.Format("/operations/job-orders/{0}", @context.Item.JobOrder.Id.ToString())">@context.Item.JobOrder.ReferenceNo</MudLink>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.DueDate" Title="Due Date">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudText>@(((DateTime)context.Item.DueDate).ToString("MM/dd/yyyy"))</MudText>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.TotalAmount" Title="Amount" Format="N2" />
                                        <PropertyColumn Property="x => x.DepositAmount" Title="Deposit" Format="N2" />
                                        <PropertyColumn Property="x => x.IsPackage" Title="Invoice Type" Sortable="false" Filterable="false">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudChip T="string" Color="@(context.Item.IsPackage ? Color.Tertiary : Color.Surface)">
                                                        @(context.Item.IsPackage ? "Package" : "Regular")
                                                    </MudChip>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.JobStatus.Name" Title="Status" Sortable="false" Filterable="false">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudChip T="string"
                                                             Color="context.Item.StatusChipColor">
                                                        @context.Item.JobStatus.Name
                                                    </MudChip>
                                                </MudStack>
                                            </CellTemplate>
                                        </PropertyColumn>

                                        <TemplateColumn Title="Action" Filterable="false" Sortable="false">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudButton Size="@Size.Medium" Variant="@Variant.Filled" Href="@string.Format("/operations/invoices/{0}", @context.Item.Id.ToString())" Color="@Color.Primary"><i class="fa fa-pencil-square-o"></i></MudButton>
                                                    @* <MudButton Size="@Size.Medium" @onclick="args => OnGeneratePdfClick(context.Item.Id)" Variant="@Variant.Filled" Color="@Color.Success"><i class="fa fa-print"></i></MudButton> *@
                                                    @if (isBigThreeRoles)
                                                    {
                                                        <MudButton Size="@Size.Medium" @onclick="args => OnDeleteClick(context.Item)" Variant="@Variant.Filled" Color="@Color.Error"><i class="fa fa-trash"></i></MudButton>
                                                    }
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                    <PagerContent>
                                        <MudDataGridPager T="InvoiceModel" />
                                    </PagerContent>
                                </MudDataGrid>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>