@using MudBlazor
@using Rapide.DTO
@using Rapide.Web.Helpers

@if (IsLoading)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Class="ms-n1" Indeterminate="true" />
    </MudOverlay>
}

<MudMessageBox @ref="mbox" Title="Confirmation" CancelText="No">
    <MessageContent>
        <i class="bi bi-exclamation-triangle"></i> Are you sure you want to save changes?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check">Yes</MudButton>
    </YesButton>
</MudMessageBox>


<div class="col-md-12">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title" >Services Information</h3>
        </div>

        <div class="card-body">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Class="mud-form-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Service Name<code> *</code></label>
                            <MudTextField T="string"
                                Required="true" RequiredError="Name is required!"
                                MaxLength="100"
                                @bind-Value="ServiceRequestModel.Name"
                                For="(() => ServiceRequestModel.Name)"
                                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Handshake"
                                Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Service Code<code> *</code></label>
                            <MudTextField T="string"
                                Required="true" RequiredError="Code is required!"
                                MaxLength="100"
                                @bind-Value="ServiceRequestModel.Code"
                                For="(() => ServiceRequestModel.Code)"
                                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Code"
                                Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Service Group<code> *</code></label>
                            <MudAutocomplete T="ServiceGroupDTO"
                                             Margin="Margin.Dense"
                                             @bind-Value="ServiceRequestModel.ServiceGroup"
                                             SearchFunc="@SearchServiceGroup"
                                             Variant="Variant.Outlined"
                                             ToStringFunc="@(e=> e==null?null : e.Name)"
                                             ShowProgressIndicator="true"
                                             Required="true" RequiredError="This field is required!"
                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                             Strict="false"
                                             Clearable="true">
                                <NoItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        No items found
                                    </MudText>
                                </NoItemsTemplate>

                                <AfterItemsTemplate>
                                    <MudButton OnClick="(() => OnAddNewItemClick(ServiceDialogType.Group))" Color="Color.Primary"><i class="fas fa-plus"> Add New Category</i></MudButton>
                                </AfterItemsTemplate>
                            </MudAutocomplete>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Service Category<code> *</code></label>
                            <MudAutocomplete T="ServiceCategoryDTO"
                                             Margin="Margin.Dense"
                                             @bind-Value="ServiceRequestModel.ServiceCategory"
                                             SearchFunc="@SearchServiceCategory"
                                             Variant="Variant.Outlined"
                                             ToStringFunc="@(e=> e==null?null : e.Name)"
                                             ShowProgressIndicator="true"
                                             Required="true" RequiredError="This field is required!"
                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                             Strict="false"
                                             Clearable="true">
                                <NoItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        No items found
                                    </MudText>
                                </NoItemsTemplate>

                                <AfterItemsTemplate>
                                    <MudButton OnClick="(() => OnAddNewItemClick(ServiceDialogType.Category))" Color="Color.Primary"><i class="fas fa-plus"> Add New Category</i></MudButton>
                                </AfterItemsTemplate>
                            </MudAutocomplete>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Standard Rate</label>
                            <div class="input-group">
                                <MudNumericField Format="n2" Min="0"
                                    @bind-Value="ServiceRequestModel.StandardRate"
                                    Required="true" RequiredError="This field is required!"
                                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers"
                                    Margin="Margin.Dense" Variant="Variant.Outlined" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Standard Hours</label>
                            <div class="input-group">
                                <MudNumericField Min="0"
                                    @bind-Value="ServiceRequestModel.StandardHours" 
                                    Required="true" RequiredError="This field is required!"
                                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers"
                                    Margin="Margin.Dense" Variant="Variant.Outlined" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Is Replacement?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.IsReplacement" Color="Color.Success" />
                        </div>

                        <div class="form-group">
                            <label>Is Allow Rate Override?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.IsAllowRateOverride" Color="Color.Success" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Is Mechanic Required?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.IsMechanicRequired" Color="Color.Success" />
                        </div>

                        <div class="form-group">
                            <label>Display Standard Hours?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.DisplayStandardHours" Color="Color.Success" />
                        </div>

                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Display Standard Rate?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.DisplayStandardRate" Color="Color.Success" />
                        </div>

                        <div class="form-group">
                            <label>Display Notes?</label>
                            <MudSwitch @bind-Value="ServiceRequestModel.DisplayNotes" Color="Color.Success" />
                        </div>
                    </div>

                </div>
            </MudForm>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <div class="row">
        @if (!isViewOnly)
        {
            <div class="col-md-6" style="padding-bottom: 10px !important;">
                <button type="button" @onclick="OnSaveClick" class="btn btn-primary btn-block"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        }
        <div class="@(isViewOnly ? "col-md-12" : "col-md-6")">
            <button type="button" @onclick="OnCancelClick" class="btn btn-danger btn-block"><i class="fa fa-ban"></i> Cancel</button>
        </div>
    </div>
</div>